<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Plate Up</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
    <%if logged_in?%>
      logged in as:
      <a href="/profile"><%=current_user()['name']%></a>
      
      <form action="/session" method = "post">
        <input type="hidden" name="_method" value="delete">
        <button>logout</button>
      </form>  
    <%else%>
      <a href="/login">log in</a> | <a href="/signup">sign up</a>
    <%end%>
  </header>
  
  <nav>
    <ul>
      <li> <a href="/exercises">Exercises</a> </li>
      <li> <a href="/pr">My Personal Record</a> </li>
      <li> <a href="/diary">Diary</a> </li>    
    </ul>
  </nav>
  <%= yield %>

</body>
</html>
