<p>Entry</p>
<form action="/diary/new" method = "post">
    <label for="">Date</label>
    <input type="date" name="date" id="date">

    <label for="">Exercise</label>
    <select name="exercise" id="exercise">
        <option value="none">--</option>
        <option value="bench_press">Bench Press</option>
        <option value="squat">Squat</option>
        <option value="deadlift">Deadlift</option>
        <option value="rows">Rows</option>
        <option value="bicep_curls">Bicep Curls</option>
    </select>

    <label for="">Weight(kg)</label>
    <input type="number" name="weight" id="weight">

    <label for="">Number of Sets</label>
    <input type="number" name="sets" id="sets">

    <label for="">Number of Reps</label>
    <input type="number" name="reps" id="reps">

    <label for="">Notes (less than 150 chars)</label>
    <input type="text" name="notes" id="notes">

    <button>Log</button>
</form>