
<form action="/session" method="post">
    <p>Member Login</p>
    <label for="email">Email Address:</label>
    <input type="text" name="email" id="email" placeholder="Email Address">

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" placeholder="Password">

    <button>Log In</button>
</form>

<p>Not a member yet? <a href="/signup">Sign up now!</a></p>