<section class="middle">
    <h4>Personal Records</h4>
<table>
    <tr>
        <th>Date Achieved</th>
        <th>Exercise</th>
        <th>Weight(kg)</th>
        <th>Reps in one set</th>
    </tr>

    <% personal_records.each do |item| %>
    <tr>
        <td> <%= item[:date] %> </td>
        <td> <%= item[:exercise_name] %> </td>
        <td> <%= item[:weight_record] %> </td>
        <td> <%= item[:reps] %> </td>
    </tr>
    <% end %>
</table>
</section>