<section class="middle">
    <h4>Profile</h4>
    <div class="border-form">
        <p>Name: <%= current_user()['name'] %> </p> 
        <p>Email: <%= current_user['email'] %></p> 
        <p>Current Bodyweight: <%= current_user['current_weight'] %> kg</p> 
        <p>Goal Bodyweight: <%= current_user['goal_weight']%> kg </p> 
    </div>

    <div class="button-div">
        <a href="/profile/edit">Edit</a>
    </div>
</section>